<div id="<%= dom_id group_conversion %>">
  <p>
    <strong>Group:</strong>
    <%= group_conversion.group_id %>
  </p>

  <p>
    <strong>Conversion:</strong>
    <%= group_conversion.conversion_id %>
  </p>

</div>
